/*.dev{
	display: block;
  margin: 2 auto;

	.dev{											->
		text-align: center;  		-> эти две выравнивают картинку по центру
	}
}*/

#center{
    width: 100%;
    height: 350px;
    background: rgb(219, 236, 220);
    position: relative;
}

.dev{

position: absolute;
top: 45px;
left: 556px;
}

#test{
	width: 100%;
	height: 1000px; /* по высоте страницы*/
}
